body {
    font-family: 'Work Sans', sans-serif !important;
}

.jumbotron {
    height: 350px;
    text-align: center;
}

.card-body {
    height: 120px;
    font-family: 'Work Sans', sans-serif;
    font-size: 2em;
}

#targetDiv {
    font-size: 65px;
    margin-top: 100px;
}
